<p style="color: green"><%= notice %></p>

<h1>Contacts forms</h1>

<div id="contacts_forms">
  <% @contacts_forms.each do |contacts_form| %>
    <%= render contacts_form %>
    <p>
      <%= link_to "Show this contacts form", contacts_form %>
    </p>
  <% end %>
</div>

<%= link_to "New contacts form", new_contacts_form_path %>
