   <div class="container-fluid">
        <main class="tm-main">           
            <div class="row tm-row tm-mb-100">
                <div class="col-12">
                    <h2 class="tm-color-primary tm-post-title tm-mb-30">О нас</h2>
                    <hr class="tm-hr-primary tm-mb-80">
                </div>  
            </div>
            <div class="row tm-row tm-mb-40">
                <div class="col-12">                    
                    <div class="mb-4">
                        <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">Partner Works</h2>
                        <p>
                            Команда специалистов по поиску работников. <br> В поиске работы важную роль играет правильное выборочное консультирование и умение находить нужных соискателей. Наши опытные рекрутеры и консультанты знают, как решить все эти задачи на высоком уровне. <br> <br>
                             Консультанты по поиску работников оказывают помощь по составлению резюме, личных качествах, которые нужны для профессиональной карьеры в соответствии с спецификой компании. Конечно, основная миссия консультанта по поиску работников – найти именно того соискателя, который наилучшим образом подойдет для конкретной должности.
                        </p>                         
                    </div>                     
                </div>
            </div>
        
            <div class="row tm-row tm-mb-60">              
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2"><a class="tm-color-primary tm-post-title mb-2" href="https://vk.com/s.yasinko">Светлана Ясинко</a></h2>
                            <h3 class="tm-h3 mb-3">Manager</h3>
                            <p class="mb-0 tm-line-height-short">
                                Главная задача - искать, привлекать и консультировать новых соискателей.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Александра Жданова</h2>
                            <h3 class="tm-h3 mb-3">Manager</h3>
                            <p class="mb-0 tm-line-height-short">
                                Главная задача - консультирование и ответы на ваши вопросы, а также поиск новых соискателей.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Мария Смирнова</h2>
                            <h3 class="tm-h3 mb-3">Manager</h3>
                            <p class="mb-0 tm-line-height-short">
                                Основная задача - отправление откликов по вакансий.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Денисов Максим</h2>
                            <h3 class="tm-h3 mb-3">Project Director</h3>
                            <p class="mb-0 tm-line-height-short">
                                Управление рабочим процессом проекта.
                            </p>
                        </div>
                    </div>
                </div>
            </div>        
            <footer class="row tm-row">
                <div class="col-md-6 col-12 tm-color-gray">
                   <a rel="nofollow" target="_parent" href="<%= root_path %>" class="tm-external-link">PartnerWork</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2023
                </div>
            </footer>
        </main>
    </div>