 <div class="container-fluid">
        <main class="tm-main">       
            <div class="row tm-row tm-mb-100">
                <div class="col-12">
                    <h2 class="tm-color-primary tm-post-title tm-mb-30">Заявка успешно подана.</h2>
                    <hr class="tm-hr-primary tm-mb-80">
                </div>                
            </div>
            <div class="row tm-row tm-mb-120">
                <div class="col-12">

                </div>
                <div class="col-lg-7 tm-contact-left">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-bezier-curve fa-4x tm-color-primary"></i>                            
                        </div>                        
                        <h2 class="mb-3 tm-color-primary tm-post-title">Ваш отклик был успешно отправлен</h2>
                        <p class="mb-0 tm-line-height-short"> 
                            В скором времени менеджер свяжется с вами.           
                        </p>
                    </div>

                </div>
                <div class="col-lg-5 tm-contact-right">
                    <div class="mb-4 tm-color-gray">
                        Ваш отклик был успешно отправлен нашему менеджеру. <br> В скором времени он свяжется с вами.
                    </div>
                    <span class="d-block">
                        Telegram:
                        <a href="t.me/partnewwork" class="tm-color-gray">PartnerWorks</a>
                    </span>
                    <span class="mb-4 d-block">
                        Email:
                        <a href="mailto:info@company.com" class="tm-color-gray">partworknew@mail.ru</a>
                    </span>
                    <p class="mb-4 tm-line-height-short">
                        Спасибо что выбрали нас.
                    </p>
                    <ul class="tm-social-links">
                        <li class="mb-2">
                            <a href="https://vk.com/club219774700" class="d-flex align-items-center justify-content-center">
                                <i class="fab fa-vk tm-social-icon icon_contact"></i>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="t.me/partnewwork" class="d-flex align-items-center justify-content-center">
                                <i class="fab fa-telegram tm-social-icon icon_contact"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>  

            <footer class="row tm-row">
                <div class="col-md-6 col-12 tm-color-gray">
                   <a rel="nofollow" target="_parent" href="<%= root_path %>" class="tm-external-link">PartnerWork</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2023
                </div>
            </footer>
        </main>
    </div>