<h1>Editing new reponse</h1>

<%= render "form", new_reponse: @new_reponse %>

<br>

<div>
  <%= link_to "Show this new reponse", @new_reponse %> |
  <%= link_to "Back to new reponses", new_reponses_path %>
</div>
